apiVersion: burstscaling.io/v1alpha1
kind: BurstScaler
metadata:
  name: burstscaler-sample
  labels:
    app.kubernetes.io/name: burst-scaling-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  rabbitmq:
    secretRef:
      name: rabbitmq-credentials
      key: uri
  source:
    exchange: events
    routingKey: jobs.created
  burst:
    count: 10
    messageTTLSeconds: 120
